/* @link https://utopia.fyi/space/calculator?c=320,17,1.414,1332,18,1.414,10,2,&s=0.75|0.5|0.25|0.125|0.0625,1.5|2|3|4|6,s-l|2xs-xl */

:root {
	--space-5xs: clamp(0.06rem, calc(0.06rem + 0vw), 0.06rem);
	--space-4xs: clamp(0.13rem, calc(0.13rem + 0vw), 0.13rem);
	--space-3xs: clamp(0.25rem, calc(0.23rem + 0.1vw), 0.31rem);
	--space-2xs: clamp(0.56rem, calc(0.56rem + 0vw), 0.56rem);
	--space-xs: clamp(0.81rem, calc(0.79rem + 0.1vw), 0.88rem);
	--space-s: clamp(1.06rem, calc(1.04rem + 0.1vw), 1.13rem);
	--space-m: clamp(1.63rem, calc(1.61rem + 0.1vw), 1.69rem);
	--space-l: clamp(2.13rem, calc(2.09rem + 0.2vw), 2.25rem);
	--space-xl: clamp(3.19rem, calc(3.13rem + 0.3vw), 3.38rem);
	--space-2xl: clamp(4.25rem, calc(4.17rem + 0.4vw), 4.5rem);
	--space-3xl: clamp(6.38rem, calc(6.26rem + 0.59vw), 6.75rem);

	/* One-up pairs */
	--space-5xs-4xs: clamp(0.06rem, calc(0.04rem + 0.1vw), 0.13rem);
	--space-4xs-3xs: clamp(0.13rem, calc(0.07rem + 0.3vw), 0.31rem);
	--space-3xs-2xs: clamp(0.25rem, calc(0.15rem + 0.49vw), 0.56rem);
	--space-2xs-xs: clamp(0.56rem, calc(0.46rem + 0.49vw), 0.88rem);
	--space-xs-s: clamp(0.81rem, calc(0.71rem + 0.49vw), 1.13rem);
	--space-s-m: clamp(1.06rem, calc(0.86rem + 0.99vw), 1.69rem);
	--space-m-l: clamp(1.63rem, calc(1.43rem + 0.99vw), 2.25rem);
	--space-l-xl: clamp(2.13rem, calc(1.73rem + 1.98vw), 3.38rem);
	--space-xl-2xl: clamp(3.19rem, calc(2.77rem + 2.08vw), 4.5rem);
	--space-2xl-3xl: clamp(4.25rem, calc(3.46rem + 3.95vw), 6.75rem);

	/* Custom pairs */
	--space-s-l: clamp(1.06rem, calc(0.69rem + 1.88vw), 2.25rem);
	--space-2xs-xl: clamp(0.56rem, calc(-0.33rem + 4.45vw), 3.38rem);
}
