:root {
	--gutter: var(--space-s-m);
	--dialog-height: 100vh;
}

body {
	padding: var(--gutter);
	font-family: system-ui;
	font-size: var(--step-0);
}

@supports (height: 100dvh) {
	:root {
		--dialog-height: 100dvh;
	}
}

h1 {
	font-size: var(--step-3);
	line-height: 1;
}
