{%- extends "layouts/base.html" -%}

{%- block content -%}
  {{ content | safe }}
  <open-stories
    src="/24h-stories.json"
    duration="15"
  >
  <img
    class="display-pic"
    src="/images/memoji.jpg"
    alt="Memoji"
    width="240"
    height="240"
    loading="eager"
  >
  </open-stories>
  {%- if env.eleventy === "development" -%}
    <hr>
    {%- for post in collections.stories | reverse %}
      <div class="flow">
        <span>{{ post.fileSlug }} </span>
        <pre>{{ post.date | toISO }}</pre>
      </div>
    {% endfor %}
  {%- endif -%}
{%- endblock -%}

{%- block bodyScripts -%}
  <script
  src="/scripts/open-stories.js"
  type="module"
  defer
  ></script>
{%- endblock -%}