{%- extends "layouts/base.html" -%}

{%- block content -%}
  {{ content | safe }}
  {% include "snippets/separator.html" %}
  <div class="verified cluster">
    <h2>Arpit Agrawal</h2>
    {% include "snippets/verified.html" %}
  </div>
  <div class="stories-container cluster">
    <open-stories
      src="/24h-stories.json"
      duration="15"
    >
    <img
      class="display-pic"
      src="/images/memoji.jpg"
      alt="Memoji"
      width="240"
      height="240"
      loading="eager"
    >
    </open-stories>
    <open-stories
      src="/poster-stories.json"
      duration="15"
    >
    Posters
    <span>× {{ collections.posters | length }}</span>
    </open-stories>
  </div>
  {%- endblock -%}
  
  {%- block bodyEnd -%}
  {%- if env.eleventy === "development" -%}
    <details class="flow">
      <summary>Details</summary>
      {%- for post in collections.all | reverse %}
        <div class="flow">
          <span>{{ post.fileSlug }} </span>
          <pre>{{ post.date | toISO }}</pre>
        </div>
        {% if not loop.last %}<hr>{% endif %}
      {% endfor %}
    </details>
  {%- endif -%}
  <script
  src="/scripts/open-stories.js"
  type="module"
  defer
  ></script>
{%- endblock -%}