---
permalink: feed.json
---
{
	"version": "https://jsonfeed.org/version/1.1",
	"title": "Valid feed",
	"_open_stories": {
		"version": "0.0.8"
	},
	"items": [
	{%- set comma = joiner() -%}
	{%- for story in collections.stories -%}
		{%- set id = story.date | isoDate + "-" + story.fileSlug | slugify -%}
		{%- set pubDate = story.date | toISO -%}
		{%- set expDate = story.date | nextDay -%}
		{%- set url = "/images/" + story.data.url -%}
		{%- set alt = story.data.alt %}
		{%- set caption = story.data.caption %}
		{{ comma() }}{
			"id": "{{ id }}",
			"date_published": "{{ pubDate }}", 
			"content_text": "Text",
			"authors": [{ "name": "Arpit" }],
			"_open_stories": {
				"type": "image",
				"mime_type": "image/jpg",
				"url": "{{ url }}",
				"caption": "{{ caption }}",
				"date_expired": "{{ expDate }}",
				"alt": "{{ alt }}"
			}
		}
	{%- endfor %}
	]
}
